{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div>{{ flashError }}</div>
    {% endfor %}

    <h1>{{"auth.register"|trans}}</h1>

    <p>{{ "auth.if-has-account-login"|trans({loginUrl: path('app_login')})|raw }}</p>

    {{ form(registrationForm) }}

{% endblock %}
