{% extends 'base.html.twig' %}

{% block title %}Edit FileReferenceArticle{% endblock %}

{% block body %}
    <h1>Edit FileReferenceArticle</h1>

    {{ include('file_reference_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('file_reference_article_index') }}">back to list</a>

    {{ include('file_reference_article/_delete_form.html.twig') }}
{% endblock %}
