{% extends 'base.html.twig' %}

{% block title %}New FileReferenceArticle{% endblock %}

{% block body %}
    <h1>Create new FileReferenceArticle</h1>

    {{ include('file_reference_article/_form.html.twig') }}

    <a href="{{ path('file_reference_article_index') }}">back to list</a>
{% endblock %}
