{% extends '@admin/base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <a class="button button_link" href="{{ path('admin_article_index') }}">Back to list</a>

    {{ include('@admin/crud/article/_delete_form.html.twig') }}

    <h1>Edit Article</h1>

    {{ form(form) }}

{% endblock %}
