@import 'variables/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: $font-family-text;
  background-image: linear-gradient(lighten($theme-light, 3%), $theme-background-color);
  background-color: $theme-background-color;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

a {
  color: $theme-link;
  &:visited {
    color: $theme-visited-link;
  }
}
