@import 'variables/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: $font-family-text;
}

a {
  color: $theme-link;
  &:visited {
    color: $theme-visited-link;
  }
}
