@import 'variables/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $theme-background-color;
  font-family: $font-family-text;
}

a {
  color: $theme-link;
  &:visited {
    color: $theme-visited-link;
  }
}
