<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aleksey Dem's Blog{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="layout">
            <div class="layout__header-container">
                {{ include('layout/header.html.twig') }}
            </div>
            <div class="layout__body-container">
                <div class="layout__content">
                    {% block body %}{% endblock %}
                </div>
                <div class="layout__side"></div>
            </div>
            <footer class="layout__footer-container">

            </footer>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
