{# @var \App\Entity\Section[] sections #}

<div class="nav">
    <div class="nav__panel">
        {% for section in sections %}
            <a href="{{ path('section', {slug: section.slug}) }}" class="header-link">
                <span class="header-link__title">{{ section.title }}</span>
                {% if section.status == 'invisible' -%}
                    <span class="header-link__is-hidden-title">({{ ('place.' ~ section.status)|trans({}, 'workflow') }})</span>
                {%- endif -%}
            </a>
        {% endfor %}
    </div>
    <div class="nav__button">
        <i class="nav__button-icon fas fa-chevron-circle-down"></i>
    </div>
</div>
