{# @var \App\Entity\Section[] sections #}

<nav class="nav">
    {% for section in sections %}
        <a href="{{ path('section', {slug: section.slug}) }}" class="nav__item">
            <span class="nav__item-title">{{ section.title }}</span>
        </a>
    {% endfor %}
</nav>
