$theme-dark: #00222d;
$theme-light: #EEEAEA;
$theme: darken($theme-light, 40%);
$theme-background-color: #fafffa;
$theme-color: #222628;
$theme-color-faded: lighten($theme-color, 40%);
$theme-link: #167d91;
$theme-link-faded: lighten($theme-link, 20%);
$theme-visited-link: rgb(68, 41, 118);

$theme-light-darker: darken(#EEEAEA, 6%);
