@import './../mixins/container';

.body {
  margin-top: 20px;
  margin-bottom: 20px;
  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    &_horizontal-till-md {
      flex-direction: row;
    }
  }
  &__breadcrumbs {

  }
  &__content {
    width: 100%;
  }
  &__side {
    width: 300px;
    flex-shrink: 0;
  }
}

@media screen {
  @media (max-width: $breakpoint-md) {
    .body {
      &__container {
        &_horizontal-till-md {
          flex-direction: column;
        }
      }
    }
  }
}
