@import './../mixins/container';

.body {
  display: flex;
  flex-direction: column;
  &_horizontal {
    flex-direction: row;
  }
  &_container {
    @include container;
  }
  &__content {
    width: 100%;
  }
  &__side {
    width: 400px;
  }
}
