@import './../variables/variables';

.breadcrumbs {
  display: flex;
  &__item {
    margin: 20px 0;
  }
  &__link {
    margin: 0 10px;
    text-decoration: none;
  }
  &__title {
    font-family: $font-family-text;
    color: $theme-link;
  }
}
