@import './../variables/variables';

.entity-list {
  margin: 20px 0;
  &__item {
    border-top: 2px solid $theme-light;
    border-radius: 2px;
    display: flex;
  }
  &__item-title {
    font-family: $font-family-text;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  &__item-link {

  }
  &__item-is-not-visible-title {
    font-style: italic;
    opacity: 0.8;
  }
}
