@import './../variables/variables';
@import './../mixins/container';

.header {
  background-color: $theme-light;
  &__container {
    @include container;
    display: flex;
  }
  &__logo {
    flex-shrink: 0;
  }
  &__nav {
    flex-grow: 1;
  }
  &__join-link {
    height: 50px;
    display: flex;
    font-family: $font-family-text;
    font-weight: 700;
    color: $theme-link;
    text-decoration: none;
    &:visited {
      color: $theme-link;
    }
    &:hover {
      background-color: $theme-light-darker;
    }
  }
  &__language-switcher {
    flex-shrink: 0;
  }
}

@media screen {
  @media (max-width: $breakpoint-lg) {
    .header {
      &__container {
        flex-wrap: wrap;
      }
    }
  }
}
