@import './../variables/variables';
@import './../mixins/container';

.header {
  background-color: $theme-light;
  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen {
      @media (max-width: $breakpoint-md) {
        flex-wrap: wrap;
      }
      @media (max-width: $breakpoint-sm) {
      }
    }
  }
  &__logo {
    flex-shrink: 0;
    margin-right: 25px;
  }
  &__nav {

  }
}
