@import './../mixins/container';

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    flex-shrink: 0;
  }
  &__body {
    flex: 1 0 auto;
  }
  &__footer {
    flex-shrink: 0;
  }
}
