@import './../variables/variables';

.pagination {
  display: flex;
  padding: 10px 0;
  &__elem {
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-family: $font-family-text;
    font-weight: 700;
    color: $theme-link;
    &_current {
      background-color: $theme-light;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-self: stretch;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      background-color: $theme-light;
    }
  }
}
