{% extends 'base.html.twig' %}

{% trans_default_domain 'errors' %}
{% block body %}
    <div class="error-page">
        <h1 class="error-page__title">{{ 'error'|trans }}</h1>

        <p class="error-page__description">
            <p>{{ 'error.description'|trans({'alternativePath': path('homepage')})|raw }}</p>
        </p>
    </div>
{% endblock %}
