<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <div class="logo">
                <a class="logo__link" href="{{ path('homepage') }}">
                    <span class="logo__title">{{ 'dems.blog'|trans }}</span>
                </a>
            </div>
        </div>
        {{ render_esi(controller('App\\Controller\\Partial\\LayoutController::renderHeaderNav')) }}
    </div>
</header>
