<header class="header-block">
    <div class="header-block__logo">
        <div class="logo">
            Aleksey Dem
        </div>
    </div>
    <div class="header-block__nav">
        {{ render(controller('App\\Controller\\LayoutController::renderHeaderNav')) }}
    </div>
</header>
