<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <div class="logo">
                <h1 class="logo__title">Aleksey Dem's Blog</h1>
            </div>
        </div>
        <div class="header__nav">
            {{ render_esi(controller('App\\Controller\\Partial\\LayoutController::renderHeaderNav')) }}
        </div>
    </div>
</header>
